@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,300;0,400;0,600;1,500;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(65, 61, 238);
  --primary-color-1: rgb(65, 61, 238, 0.1);
  --secondary-color: rgb(235, 49, 49);
  --secondary-color-1: rgb(235, 49, 49, 0.1);
  --white: #fff;
  --ff-clr: rgb(20, 20, 20);
}

body {
  margin: 0;
  font-family: "Archivo", sans-serif;
  font-style: var(--ff-clr);
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
